<div class="border-r-2 mx-4 border-gray-500">
  <div><%= user_avatar(postable.user, width: 64) %></div>
  <div><%= postable.user.login %></div>
  <div>Posts: <%= postable.user.post_count %></div>
  <div>Posted on <%= postable.created_at.strftime("%d %b %y %H:%M %Z") %></div>
</div>