<%= simple_form_for(category) do |form| %>
  <%= form.input :name %>
  <%= form.input :description %>

  <div class="actions">
    <%= form.button :submit, "Submit", class: "border rounded" %>
  </div>
<% end %>
